body {
  margin: 0;
  padding: 0;
  background-color: #ebeef3;
  font-family: 'Inter', sans-serif;
  width: 100vw;
  overflow-x: hidden;
}
.active .sign {
  color: #52c41a;
}
.sign:not(.active .sign):hover {
  text-decoration: underline #000000d9;
}
.active {
  color: #52c41a;
  border: solid 1px #52c41a;
  border-radius: 5px;
  padding: 0.5em 0em;
}
